* {
padding:0;
margin:0;
box-sizing:border-box
}
body{
	font-size:16px;
	font-family: 'Raleway', sans-serif;
}
section.contact-sec {
    margin: 5rem 0;
}
.contact-container {
    width: 90%;
    margin: 0 auto;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-left {
    color: #fff;
    border-radius: 10px 0 0 10px;
    padding: 11.3rem 0;
    background-color: #3ab399;
    text-align: center;
    width: 30%;
}
.col-right {
    box-shadow: 0px 0px 2px 0px #fff;
    border-radius: 0 10px 10px 0;
    border: 1px solid #f1ebeb;
    padding: 3rem 0px;
    background-color: #fff;
    text-align: center;
    width: 50%;
}
.col-right h1 {
    margin: 1rem 0;
    font-size: 2.3rem;
}
.social-links {
    gap: 2%;
    /* text-align: center; */
    display: flex;
    font-size: 1.5rem;
    margin: 1.6rem 0;
    justify-content: center;
}
i.fa-brands {
    height: 39px;
    font-size: 1.5rem;
    background-color: #fff;
    /* padding: 4px; */
    border-radius: 50%;
    width: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c9bebe;
}
.col-right p {
    color: #303030;
    margin-top: 1rem;
    font-size: 0.9rem;
}
.user-data {
    display: flex;
    width: 100%;
    /* text-align: center; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name, .email, .pswd {
    position: relative;
    width: 100%;
    padding: 6px 0;
}
.name input, .email input, .pswd input {
    border: 0px;
    background-color: #f4f8f7;
    color: #000;
    padding: 13px 35px;
    font-size: 14px;
    border-radius: 4px;
}
input {
    width: 40%;
}
.input-icon {
    color: #ada6a6;
    position: absolute;
    top: 32%;
    left: 32%;
}
.col-right a {
    font-size: 14px;
    /* margin-left: 2rem; */
    /* text-align: center; */
    /* border: 1px solid #fff; */
    /* border-color: black; */
    color: #fff;
    display: inline-flex;
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-color: #3ab19d;
    padding: 11px 50px;
    /* font-weight: 600; */
    border-radius: 24px;
    /* outline: blue; */
}
.col-left h1 {
    /* margin-bottom: 1rem; */
    font-size: 2rem;
    /* margin-top: 11rem; */
}
.col-left p {
    letter-spacing: 1px;
    margin: 12px 0;
    font-size: 14px;
    /* margin-bottom: 3rem; */
    font-weight: 300;
    word-spacing: 2px;
}
.col-left a {
    font-size: 14px;
    /* margin-left: 2rem; */
    /* text-align: center; */
    border: 1px solid #fff;
    /* border-color: black; */
    color: #fff;
    display: inline-block;
    /* margin-bottom: 2rem; */
    margin-top: 1.2rem;
    /* background-color: rebeccapurple; */
    padding: 9px 50px;
    /* font-weight: 600; */
    border-radius: 24px;
    /* outline: blue; */
}

@media (min-width:320px) and (max-width:767px){
	.contact-container {
        width: 100%;
    }
    .row{
        display: block;
    }
    .col-left {
        width: 100%;
    }
    .col-right{
        width: 100%;
    }
    input {
        width: 70%;
    }
    .input-icon {
        left: 19%;
    }
    .col-right a {
        margin-top: 5rem;
    }
}

@media (min-width:767px) and (max-width:1020px){
	.awards-row {
	display:flex;
	flex-wrap:wrap;
	gap:0%;
	width:100%;
	
}
.awards-col {
	width:50%;	
}
	.awards-sec {
	height:100vh;
}
.content{
	padding:85px 0;
	
}
}